#profileDisputeClassicTab .nav-link.active, #keywordAlertsClassicTab .nav-link.active, #transactionEditsClassicTab .nav-link.active {
    background: #abadafb0;
}
ul#profileDisputeClassicTab, #keywordAlertsClassicTab, #transactionEditsClassicTab {
    border-bottom: 1.2px solid #a6b1bbb0;
}
ul#profileDisputeClassicTab .nav-item, #keywordAlertsClassicTab .nav-item, #transactionEditsClassicTab .nav-item{
    border-right: 1.2px solid #abadafb0;
}
ul#profileDisputeClassicTab .nav-item:last-child, #keywordAlertsClassicTab .nav-item:last-child, #transactionEditsClassicTab .nav-item:last-child{
    border-right: none;
}
ul#profileDisputeClassicTab .nav-item a, #keywordAlertsClassicTab .nav-item a, #transactionEditsClassicTab .nav-item a
{
    color: #000 !important;
    font-weight: 500;
}

.markDoneBtn{
    background: #007bff;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: none;
    cursor: pointer;
}
.border-solid {
    border: 1px solid;
    border-collapse: collapse;
}
.agentProfile > h6, .agentProfile >span {
    float: left;
    font-weight: 700;
    font-size: 18px;
}
.agentProfile {
    padding: 10px 0 0;
}

.profileTitle {
    font-weight: 700;
}
h6.profileTitle {
    text-decoration: underline;
    margin: 0;
    font-size: 18px;
}

.agentProfile > span {
    font-weight: normal !important;
    padding: 0 10px;
    margin-top: -2px;
}
.date {
    font-weight: normal !important;
    padding: 0px 10px;
    top: 5px;
    position: absolute;
    right: 0;
}
.favorCOBtn,.favorDBtn{
    margin: 10px;
    border: none;
    width: 90%;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.favorDBtn{
    background: cornflowerblue;
}
.favorCOBtn{
    background: #ffe661;
}
.licenseImg{
    box-sizing: border-box;
    width: 185px;
    height:100px;
    margin-top: 5px;
    cursor: pointer;
}
.backIcon,.closedProfileDisputeInfo-backIcon, .transactionEdits-backIcon,.closedtransactionEditsInfo-backIcon{
    margin: 0 15px 10px;
    width: 32px;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
}
.favorOfSection {
    padding: 15px;
    text-align: right;
}
.custom-col{
    display: inline-flex;
    padding: 10px;
    border: 1px solid;
}
.custom-col button{
    border-radius: 0;
    border: none;
    color: #000;
    font-weight: 600;
}
.custom-col .btn-lg{
    width: 35%;
}
.accept-btn{
    float: right;
    background: #FFD862 !important;
}
.decline-btn{
    background: #638FFF;
}
.modal-header h4{
    text-decoration: underline;
}
.modal-decline-btn{
    border-radius: 8px !important;
}
.modal-footer{
    display: block;
    text-align: center;
}
.closedProfileDisputeInfo .col-xl-6.col-sm-12.mb-6, .profileDisputeInfo .col-xl-6.col-sm-12.mb-6{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    width: 20%;
    height: 25px;
    
}*/
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.bottom-text p {
    padding: 5px 16px 5px;
    margin-bottom: 0px;
}
.border-bottom {
    border-bottom: 2px solid black !important;
}
table#profileDisputeOpendataTable tr td ,table#profileDisputeCloseddataTable tr td ,table#transactionEditsOpendataTable tr td,
table#transactionEditsCloseddataTable tr td{
    cursor: pointer;
}

div#profileDisputeOpen-classic, div#profileDisputeClosed-classic, #keywordAlertsOpen-classic, #keywordAlertsClosed-classic, #transactionEditsOpen-classic, #transactionEditsClosed-classic {
    margin: 0 40px;
}
a.fancybox-button {
    position: relative;
    width: 185px;
    height: auto;
    padding: 0;
    background: transparent;
}

.float-right-am {
    display: block;
    width: 100%;
    text-align: right;
    margin: 5px;
    line-height: 28px;
}
.float-right-am h6{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}
.getReason{
    height: 200px;
    width: 100%;
}
.modal-header {
    border-bottom: 0;
}
.modal-body {
    padding: 1rem 30px 30px;
}
.modal-footer {
    border-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
}
.modal-content {
    border-radius: 0;
    border: 2px solid #000;
}
@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 700px !important;
    }
}
/*.profileDisputeInfo,.closedProfileDisputeInfo,.transactionEditsInfo,.closedtransactionEditsInfo{
    display: none;
}*/