.notification-badge {
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.notification-badge .badge {
    position: absolute;
    top: 5px;
    border-radius: 50%;
    background: red;
    color: white;
}
.notification-badge-sidebar {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.notification-badge-sidebar .badge {
    position: absolute;
    top: 0px !important;
    margin-left: 2px !important;
    border-radius: 50%;
    background: red;
    color: white;
}