<div class="col-xl-12 col-sm-12 mb-12 border-solid">
    <div class="row">
        <div class="col-xl-8 col-sm-12 mb-8">
            <div class="agentProfile"><h6>Agent Profile: </h6><span class="agent-name"> John Doe</span></div>
        </div>
        <div class="col-xl-4">
            <div class="agentProfile"> <span class="float-right-am dis-date">February 5th, 2020</span>
                </div>
            <div class="agentProfile dispute-decided-section"><span class="float-right-am"><h6>Decided By: </h6><span> Anna</span></span></div>
        </div>
        
    </div>
</div>

<div class="col-xl-6 col-sm-12 mb-6 border-solid">
    <div class="row">
        <div class="col-xl-6 col-sm-12 mb-6">
            <h6 class="profileTitle">Current Owner</h6>
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Username : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            Sample USername
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Password : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
        User12345!#
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Email : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            agent@realestate.com
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Phone Number : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            53434-3434234
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Photo Id : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            <a class="fancybox-button" href="/media/assets/images/drivers-license.jpg">
            <img class="licenseImg" src="/media/assets/images/drivers-license.jpg" alt="sample image"></a>
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            RE License :
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            <a class="fancybox-button" href="/media/assets/images/drivers-license.jpg">
            <img class="licenseImg" src="/media/assets/images/drivers-license.jpg" alt="sample image"></a>
        </div>
    </div>
</div>
<div class="col-xl-6 col-sm-12 mb-6 border-solid">
    <div class="row">
        <div class="col-xl-6 col-sm-12 mb-6">
            <h6 class="profileTitle">Disputee</h6>
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Username : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 dis-username">
            Sample USername
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Password : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            User12345!#
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Email : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 dis-email">
            agent@realestate.com
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Phone Number : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 dis-phone">
            53434-3434234
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Photo Id : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            <a class="fancybox-button fancy-dis-photoid" href="/media/assets/images/drivers-license.jpg">
            <img class="licenseImg dis-photoid" src="/media/assets/images/drivers-license.jpg" alt="sample image"></a>
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            RE License :
        </div>
        <div class="col-xl-6 col-sm-12 mb-6">
            <a class="fancybox-button fancy-dis-licenseid" href="/media/assets/images/drivers-license.jpg">
            <img class="licenseImg dis-licenseid" src="/media/assets/images/drivers-license.jpg" alt="sample image"></a>
        </div>
    </div>
</div>

<div class="col-xl-12 col-sm-12 mb-12 border-solid dispute-decided-section" style="display: none;">
    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-12 favorOfSection">
            <div class="row">
                <div class="col-xl-4 col-sm-12 mb-6 bottom-text text-left">
                    <p><b>Decided In Favor of: </b><span class="decision-infavour">Desputee</span></p>
                </div>
                <div class="col-xl-8 col-sm-12 mb-6 bottom-text text-right">
                    <p> <b> Reason:</b> <span class="closedReason">This is the text that the support tech gave for assigning this account to the disputee</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-sm-12 mb-12 border-solid dispute-pending-section" style="display: none;">
    <div class="row">
        <div class="col-xl-2 col-sm-6 mb-3"></div>
        <div class="col-xl-4 col-sm-6">
            <div>
                <button class="favorCOBtn" data-toggle="modal" data-target="#favorCOBtnModal">In favor of Current Owner</button>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <button class="favorDBtn" data-toggle="modal" data-target="#favorDBtnModal">In favor of Disputee</button>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3"></div>
    </div>
</div>