<div class="col-xl-12 col-sm-12 mb-12 border-solid">
    <div class="row">
        <div class="col-xl-8 col-sm-12 mb-8">
            <div class="agentProfile"><h6>Agent Profile: </h6><span class="agent-name"> </span></div><br>
            <div class="agentProfile"><a href="javascript:void(0)" class="delete-agent" style="display: none;">Delete Agent</a></div>
        </div>
        <div class="col-xl-4">
            <div class="agentProfile"> <span class="float-right-am created-date"></span>
                </div>
            <div class="agentProfile manual-decided-section"><span class="float-right-am"><h6>Decided By: </h6><span class="decided-by-user"> </span></span></div>
        </div>
        
    </div>
</div>

<div class="col-xl-6 col-sm-12 mb-6 border-solid">
    <div class="row">
        <div class="col-xl-6 col-sm-12 mb-6">
            <h6 class="profileTitle">Personal Information</h6>
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Full Name : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 fullname">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Email : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 email">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Phone Number : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 phone">
        </div>
    </div>
</div>
<div class="col-xl-6 col-sm-12 mb-6 border-solid">
    <div class="row">
        <div class="col-xl-6 col-sm-12 mb-6">
            <h6 class="profileTitle">Brokerage Information</h6>
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Brokerage Name : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 brokerage-name">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            License : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 license">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Street Address : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 street-address">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            City : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 city">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            State : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 state">
        </div>

        <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
            Zipcode : 
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 zipcode">
        </div>
    </div>
</div>

<div class="col-xl-12 col-sm-12 mb-12 border-solid manual-decided-section" style="display: none;">
    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-12 favorOfSection">
            <div class="row">
                <div class="col-xl-4 col-sm-12 mb-6 bottom-text text-left">
                    <p><b>Decision: </b><span class="decision-infavour"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-sm-12 mb-12 border-solid manual-pending-section" style="display: none;">
    <div class="row">
        <div class="col-xl-2 col-sm-6 mb-3"></div>
        <div class="col-xl-4 col-sm-6">
            <div>
                <button class="favorCOBtn acceptRequestBtn" data-toggle="modal" data-target="#favorCOBtnModal">Accept</button>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <button class="favorDBtn rejectRequestBtn" data-toggle="modal" data-target="#favorDBtnModal" style="background-color: red;">Decline</button>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3"></div>
    </div>
</div>