<div class="col-xl-12 col-sm-12 mb-12 border-solid">
    <div class="row">
        <div class="col-xl-8 col-sm-12 mb-8">
            <div class="agentProfile"><h6>Agent Profile: </h6><span class="agent-name"> John Doe</span></div>
        </div>
        <div class="col-xl-4">
            <div class="agentProfile"> <span class="float-right-am dis-date">February 5th, 2020</span></div>
        </div>

        <!-- <div class="col-xl-8 col-sm-12 mb-8">
            <div class="agentProfile"><h6>Type: </h6><span> New</span></div>
        </div> -->
        <!-- <div class="col-xl-12">
            <div class="agentProfile transaction-decided-section" style="display: none;"><span class="float-right-am"><h6>Decided By: </h6><span> Anna</span></span></div>
          </div> -->
    </div>
</div>

<div class="col-xl-12 col-sm-12 mb-12 border-solid">
    <div class="row">
    <div class="col-xl-6 col-sm-12 mb-6">
        <h6 class="profileTitle">Current Transaction</h6>
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
    </div>

    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Street Address : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-address">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        City : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-city">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        State : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-state">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Zipcode : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-zipcode">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Property Type : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-type">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Represented : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-represented">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        List Date : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-list-date">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Sold Date : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-sold-date">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        List Price : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-list-price">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Sold Price : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 trans-sold-price">
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Notes : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        -
    </div>

    </div>
</div>


<div class="col-xl-6 col-sm-12 mb-6 border-solid" style="display: none;">
    <div class="row">
    <div class="col-xl-6 col-sm-12 mb-6">
        <h6 class="profileTitle">Proposed Edits</h6>
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
    </div>

    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Street Address : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        123 Main st
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        City : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        Seattle
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        State : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        WA
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Zipcode : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        98109
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Property Type : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        Single Family
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Represented : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        Seller
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        List Date : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        02/02/2020
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Sold Date : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        3/20/2020
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        List Price : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        $420,000
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Sold Price : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        $420,000
    </div>
    <div class="col-xl-6 col-sm-12 mb-6 profileTitle">
        Notes : 
    </div>
    <div class="col-xl-6 col-sm-12 mb-6">
        This is a note they added-edits are highlighted red
    </div>

    
    </div>
</div>

<!-- <div class="col-12 custom-col transaction-pending-section" style="display: none;">
    <div class="col-6">
        <button type="button" class="btn btn-primary btn-lg accept-btn" data-toggle="modal" data-target="#transaction-accept">Accept</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-secondary btn-lg decline-btn" data-toggle="modal" data-target="#transaction-decline">Decline</button>
    </div>
</div>

<div class="col-xl-12 col-sm-12 mb-12 border-solid transaction-decided-section" style="display: none;">
    <div class="row">
        <div class="col-xl-6 col-sm-12 mb-6 favorOfSection">
            <span class="profileTitle">
                Reason : 
            </span>
            <span class="transaction-decision-reason"></span>
        </div>
        <div class="col-xl-6 col-sm-12 mb-6 favorOfSection">
            <span class="profileTitle">
                Decision : 
            </span>
            <span class="transaction-decision"></span>
        </div>
    </div>
</div> -->