ul#myClassicTab {
    border-bottom: 1px solid #000;
}

#myClassicTab .nav-link {
    color: #000;
}

#myClassicTab .nav-link.active {
    background: #abadafb0;
}
div#myClassicTabContent {
    border: none !important;
}

#agentReferralClassicTab .nav-link.active {
    background: #abadafb0;
}
ul#agentReferralClassicTab {
    border-bottom: 1.2px solid #abadafb0;
}
/*ul#agentReferralClassicTab .nav-item {*/
.classic-tabs .nav-item{
    border-right: 1.2px solid #abadafb0;
}
/* ul#agentReferralClassicTab .nav-item:last-child { */
.classic-tabs  .nav-item:last-child {
    border-right: none;
}
ul#agentReferralClassicTab .nav-item a{
    color: #000 !important;
}

#affiliateAgentClassicTab .nav-link.active {
    background: #abadafb0;
}
ul#affiliateAgentClassicTab {
    border-bottom: 1.2px solid #abadafb0;
}
ul#affiliateAgentClassicTab .nav-item {
    border-right: 1.2px solid #abadafb0;
}
ul#affiliateAgentClassicTab .nav-item:last-child {
    border-right: none;
}
ul#affiliateAgentClassicTab .nav-item a{
    color: #000 !important;
}

th, td {
    text-align: center;
}
.comingSoonImg{
    margin: 50px auto 0;
    display: block;
}
table#agentReferreddataTable tr td,table#affiliateReferreddataTable tr td,table#affiliatecloseddataTable tr td,
table#affiliateFaileddataTable tr td{
    /*width: 10%;
    height: 25px;*/
}
table#agentListeddataTable tr td ,table#agentFaileddataTable tr td
{
    /*width: 15%;*/
}
table#agentcloseddataTable tr td {
    /*width: unset;*/
  
}
.fa-file-pdf{
    cursor: pointer;
    font-size:18px;
}