{% extends 'index.html' %}
{% block container %}
<div class="container-fluid no-padding">
		  
		<div class="row">
			<div class="col-xl-8 col-sm-6 mb-8">
				<h4 class="pageTitle">Dashboard</h4>
			</div>
			<div class="col-xl-2 col-sm-3 mb-2 top-Btns">
				<button class="refreshDtn"><span><i class="fas fa-sync"></i></span> REFRESH</button>
			</div>
      <div class="col-xl-2 col-sm-3 mb-2 top-Btns" style="padding-right: 20px;">
        <select id="date-filter" class="form-control">
          <option value="" {% if date_filter == '' %} selected {%endif%}>----</option>
          <option value="last-7-days" {% if date_filter == 'last-7-days' %} selected {%endif%} >Last 7 days</option>
          <option value="last-30-days" {% if date_filter == 'last-30-days' %} selected {%endif%} >Last 30 days</option>
          <option value="this-month" {% if date_filter == 'this-month' %} selected {%endif%} >This Month</option>
          <option value="last-month" {% if date_filter == 'last-month' %} selected {%endif%} >Last Month</option>
          <option value="year-to-date" {% if date_filter == 'year-to-date' %} selected {%endif%}  >Year to Date</option>
          <option value="custom">Custom</option>
        </select>
      </div>
    </div>
    <div class="row">

      <div class="col-xl-12 col-sm-12 mb-2 top-Btns" id="custom-date-range" style="padding-right: 10px; display: none">
        <input type="text" class="limitBtn" name="daterange" value="April 17, 2020 - April 24, 2020" />
      </div>

    </div>
</div>
<div class="container">
          <!-- Icon Cards-->
          <div class="row">
            <!--<div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-gray o-hidden h-100">
                <div>
                  <h5 class="analyticTitle">Users</h5>
                  <p class="analyticCount">378</p>
                </div>
              </div>
            </div>-->
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-user"></i>
                  </div>
                  <h5 class="analyticTitle">Users</h5>
                  <p class="analyticCount">{{ profile_count }}</p>
                </div>
              </div>
            </div>
            <!--<div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-gray o-hidden h-100">
                <div>
                  <h5 class="analyticTitle">Partnered Agents</h5>
                  <p class="analyticCount">214</p>
                </div>
              </div>
            </div>-->
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-handshake"></i>
                  </div>
                  <h5 class="analyticTitle">Partnered Agents</h5>
                  <p class="analyticCount">214</p>
                </div>
              </div>
            </div>
            <!--<div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-gray o-hidden h-100">
                <div>
                  <h5 class="analyticTitle">Our Referrals</h5>
                  <p class="analyticCount">238</p>
                </div>
              </div>
            </div>
          -->
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-user-plus"></i>
                </div>
                <h5 class="analyticTitle">Our Referrals</h5>
                  <p class="analyticCount">238</p>
              </div>
            </div>
          </div>
            <!--<div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-gray o-hidden h-100">
                <h5 class="analyticTitle">Agent Referrals</h5>
                <p class="analyticCount">189</p>
              </div>
            </div>-->
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-users"></i>
                  </div>
                  <h5 class="analyticTitle">Agent Referrals</h5>
                  <p class="analyticCount">{{ referral_count }}</p>
                </div>
              </div>
            </div>
          </div>
		  
		  
		<div class="row chartRow">
			<div class="col-xl-6 col-sm-12 mb-6">
				<div class="">
				  <div class="card pieChart-card mb-3">
					<div class="card-header">
					  New Users By Type</div>
					<div class="card-body">
					  <canvas id="myPieChart" width="50%"></canvas>
					</div>
				  </div>
				</div>
			</div>
			<div class="col-xl-6 col-sm-12 mb-6">
				<div class="">
				  <div class="card mb-3">
					<div class="card-header">
					  New Users Over Time</div>
					<div class="card-body">
					  <canvas id="myBarChart" width="50%"></canvas>
					</div>
				  </div>
				</div>
			</div>
		</div>

</div>
    <!-- /.container-fluid -->

    <!-- Page level plugin JavaScript-->
    <script src="/media/vendor/chart.js/Chart.min.js"></script>
    <script src="/media/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/media/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Demo scripts for this page-->
    <script src="/media/js/demo/chart-bar-demo.js"></script>
    <script src="/media/js/demo/chart-pie-demo.js"></script>
    <script>
    <!--
      var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: [{% for cat in categories_keys %} '{{ cat }}', {% endfor %}],
          datasets: [{
            data: [{% for val in categories_values %} {{ val }}, {% endfor %}],
            backgroundColor: ['#f73378', "#9c27b0", "#ee99fc", "#3d5afe", "#00e5ff", "#357a38", "#76ff03", "#ffea00", "#ffc107", "#f44336"],
          }]
        },
        options: {
              legend: {
                  display: true,
                  labels: {
                      fontColor: '#000',
              //boxWidth:50,
              fontSize:14
              //fontSize:'26px'
              //fontWeight:700
                  }
              },
              elements: {
                arc: {
                    borderWidth: 0
                }
            }
          }
      });

    -->
    </script>
    <script src="/media/js/jQuery-ui.js"></script>
    <script src="/media/js/date.min.js"></script>

  
    <script>
      jQuery(document).ready(function(){
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            autoApply: true,
            locale: {
                format: 'MMMM DD, YYYY'
            }
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

            window.location = '/?date-filter=custom&start_date=' + start.format('YYYY-MM-DD') + '&end_date=' + end.format('YYYY-MM-DD')
          });
        });

        $('#date-filter').on('change', function() {

          var date_filter = $(this).val();
          if (date_filter == 'custom') {

            $('#custom-date-range').css('display', 'block');

          } else {
            window.location = '/?date-filter=' + date_filter
          }

        });

        $("input[name='daterange']").val(
          $.datepicker.formatDate('MM dd, yy', new Date()) + ' - ' +
          $.datepicker.formatDate('MM dd, yy', new Date())
        );

      }); 
    </script>
{% endblock %}
