{% extends 'index.html' %}
{% block container %}
<div class="container-fluid no-padding">
	<h4 class="pageTitle ">Manual Agent Accounts </h4>
    <ul class="nav tabs-cyan" id="profileManualClassicTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link  waves-light active show" id="profileManualOpen-tab-classic" data-toggle="tab" href="#profileManualOpen-classic"
            role="tab" aria-controls="profileManualOpen-classic" aria-selected="true">Open Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" id="profileManualClosed-tab-classic" data-toggle="tab" href="#profileManualClosed-classic" role="tab"
            aria-controls="profileManualClosed-classic" aria-selected="false">Closed Requests</a>
        </li>
    </ul>
    <div class="tab-content border-right border-bottom border-left rounded-bottom" id="myClassicTabContent">
        <div class="tab-pane fade active show" id="profileManualOpen-classic" role="tabpanel" aria-labelledby="profileManualOpen-tab-classic">
            <!-- profileManualOpendataTable DataTables -->
            <div class="mb-3 profileManualInfoTable">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="profileManualOpendataTable" width="100%" cellspacing="0">
                            
                        </table>
                    </div>
                    <div class="row profileManualInfo" style="display: none;">
                        <img class="backIcon" src="/media/assets/icons/double-left.png" />
                        {% include "partials/_manual_profile_detail.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profileManualClosed-classic" role="tabpanel" aria-labelledby="profileManualClosed-tab-classic">
            <!-- profileManualCloseddataTable DataTables -->
            <div class="mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="profileManualCloseddataTable" width="100%" cellspacing="0">
                        </table>
                    </div>
                    <div class="row closedProfileManualInfo" style="display: none;">
                        <img class="closedProfileManualInfo-backIcon" src="/media/assets/icons/double-left.png" />
                        {% include "partials/_manual_profile_detail.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/media/js/page/manual_agents.js"></script>
<script>
    jQuery(document).ready(function() {        
   
        
        
      jQuery('.completegetReasoncurOwn').on('click',function(){
        jQuery('.closedReason').html(jQuery('.getReasoncurOwn').val());
      });

      jQuery('.completgetReasonManuale').on('click',function(){
        jQuery('.closedReason').html(jQuery('.getReasonManuale').val());
      });

      

    });
</script>
{% endblock %}
