{% extends 'index.html' %}
{% block container %}
<div class="container-fluid no-padding">
    <h4 class="pageTitle ">Agent Profiles </h4>
    <div class="mb-3 profileManualInfoTable">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="agentProfilesTable" width="100%" cellspacing="0">
                    
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/media/js/page/profiles.js"></script>
{% endblock %}
