#profileDisputeClassicTab .nav-link.active, #keywordAlertsClassicTab .nav-link.active, #transactionEditsClassicTab .nav-link.active {
    background: #abadafb0;
}
ul#profileDisputeClassicTab, #keywordAlertsClassicTab, #transactionEditsClassicTab {
    border-bottom: 1.2px solid #a6b1bbb0;
}
ul#profileDisputeClassicTab .nav-item, #keywordAlertsClassicTab .nav-item, #transactionEditsClassicTab .nav-item{
    border-right: 1.2px solid #abadafb0;
}
ul#profileDisputeClassicTab .nav-item:last-child, #keywordAlertsClassicTab .nav-item:last-child, #transactionEditsClassicTab .nav-item:last-child{
    border-right: none;
}
ul#profileDisputeClassicTab .nav-item a, #keywordAlertsClassicTab .nav-item a, #transactionEditsClassicTab .nav-item a
{
    color: #000 !important;
}

.markDoneBtn{
    background: #007bff;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: none;
}
.border-solid {
    border: 1px solid;
    border-collapse: collapse;
}
.agentProfile > h6, .agentProfile >span {
    float: left;
    font-weight: 700;
    font-size: 18px;
}
.agentProfile {
    padding: 10px 0;
}

.profileTitle {
    font-weight: 700;
}
h6.profileTitle {
    text-decoration: underline;
    margin: 15px 0;
    font-size: 18px;
}

.agentProfile > span {
    font-weight: normal !important;
    padding: 0 10px;
    margin-top: -2px;
}
.date {
    font-weight: normal !important;
    padding: 0px 10px;
    top: 5px;
    position: absolute;
    right: 0;
}
.favorCOBtn,.favorDBtn{
    margin: 10px;
    border: none;
    width: 85%;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
}
.favorDBtn{
    background: cornflowerblue;
}
.favorCOBtn{
    background: #ffe661;
}
.licenseImg{
    box-sizing: border-box;
    width: 185px;
    margin-top: 5px;
}
.backIcon,.closedProfileDisputeInfo-backIcon, .transactionEdits-backIcon,.closedtransactionEditsInfo-backIcon{
    margin: 15px;
    width: 45px;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px;
}
.favorOfSection {
    padding: 15px;
    text-align: right;
}
.custom-col{
    display: inline-flex;
    padding: 10px;
    border: 1px solid;
}
.custom-col button{
    border-radius: 0;
    border: none;
    color: #000;
    font-weight: 600;
}
.custom-col .btn-lg{
    width: 35%;
}
.accept-btn{
    float: right;
    background: #FFD862 !important;
}
.decline-btn{
    background: #638FFF;
}
.modal-header h4{
    text-decoration: underline;
}
.modal-decline-btn{
    border-radius: 8px !important;
}
.modal-footer{
    display: block;
    text-align: center;
}
.closedProfileDisputeInfo .col-xl-6.col-sm-12.mb-6, .profileDisputeInfo .col-xl-6.col-sm-12.mb-6{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}